body.shootzilla {
  .container {
    max-width: 500px;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  h2 {
    margin-top: 2em;
  }

  header {
    text-align: center;
  }

  figure {
    text-align: center;

    img {
      max-width: 90%;
    }
  }

  .jumbotron {
    margin-left: -60px;
    margin-right: -60px;
  }
}
